body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
  line-height: 140%;
}

h1 {
  font-size: 48px;
  line-height: 140%;
}

h2 {
  font-size: 30px;
  line-height: 140%;
}

h3 {
  font-size: 24px;
  line-height: 140%;
}

a:link {
text-decoration: none;
color:white;
}

a:hover { 
color:black; 
}

nav {
  background-color: grey;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
